.news-wrapper {
  max-width: 700px;
  margin: 0 auto;
  
  .card-wrapper {
    min-height: 80vh;
  }

  .card-text {
    overflow: hidden;
    &.truncated-text {
      height: 150px;
    }

    ul {
      list-style: none;
      padding-inline-start: 0;

      li img {
        max-width: 100%;
      }
    }
  }
}
