.directory-tabs {
  margin-bottom: 3em;
  min-height: 80vh;
}

#mall_map{
  width: 100%;
}

.category-list {
  margin: 2em -0.5em 0;
}

.toggle-wrapper {
  padding: 0 0.5em;
  opacity: 0.65;

  &.active {
    opacity: 1;
  }

  .category-toggle {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    font-size: 14px;
    padding: 1.5em 1em;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 300ms ease;
    margin-bottom: 1em;

    @include media-breakpoint-down(lg) {
      flex-direction: row;
      padding: 1.25em;
    }
  
    svg {
      width: 3em;
      height: 3em;
      margin-bottom: 1em;

      @include media-breakpoint-down(lg) {
        width: 2.5em;
        height: 2.5em;
        margin: 0 4em 0 1em;
      }
    }
    use {
      fill: #fff;
    }
  }

  &#toggle_food .category-toggle {
    background-color: $orange;
    &:hover {
      background-color: darken($orange, 11%);
    }
  }

  &#toggle_health .category-toggle {
    background-color: $pink;
    &:hover {
      background-color: darken($pink, 11%);
    }
  }

  &#toggle_clothing .category-toggle {
    background-color: $purple;
    &:hover {
      background-color: darken($purple, 11%);
    }
  }

  &#toggle_arts .category-toggle {
    background-color: $blue;
    &:hover {
      background-color: darken($blue, 11%);
    }
  }

  &#toggle_gift .category-toggle {
    background-color: $teal;
    &:hover {
      background-color: darken($teal, 11%);
    }
  }

  &#toggle_specialty .category-toggle {
    background-color: $green;
    &:hover {
      background-color: darken($green, 11%);
    }
  }
}

.store-list {
  margin: 1em 0;
}

.store-card {
  overflow: hidden;
  display: flex;
  padding: 1em;
  position: relative;
  flex-direction: row;
  word-wrap: break-word;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  margin-bottom: 1em;

  @include media-breakpoint-up(sm) {
    flex-direction: column;
    .mobile-border {
      display: none;
    }
  }

  @include media-breakpoint-down(xs) {
    flex-direction: row;
    .mobile-border {
      border-left: 0.4rem solid;
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
    }
  }
}

.store-image-wrap {

  @include media-breakpoint-up(sm) {
    height: 12em;
    margin: -1em -1em 1em -1em;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 0.25rem solid;

    .store-image {
      width: 100%;

    }
  }

  @include media-breakpoint-between(md, lg) {
    height: 10em;
  }

  @include media-breakpoint-down(xs) {
    overflow: hidden;
    height: 4rem;
    width: 4rem;
    border-radius: 4rem;
    display: flex;
    justify-content: center;
    margin-right: 1em;

    .store-image {
      height: 100%;
    }
  }
}

.store-title {
  font-size: 1em;
  font-weight: $font-weight-bold;
}

.store-subtitle {
  color: $gray-500;
}

.store-meta {
  font-size: 0.85em;
  margin: 0.5em 0 0;
  word-break: break-word;
}

.store-description > div {
  margin-top: 0.25rem;
  line-height: 1.6;
  font-family: lato;
}

// Map levels
// YAOH-36
.mapplic-levels {
  overflow: visible !important;
}
.mapplic-levels-select {
  padding: 0 !important;
  background-color: transparent !important;
  .levels-btn {
    margin-left: 10px;
    font-weight: bold;
    box-shadow: 1px 1px 6px rgba(0,0,0,.1);
    background-color: #fff;
    &.active {
      background-color: $secondary;
      color: #fff;
    }
    &:hover {
      box-shadow: 1px 1px 6px rgba(0,0,0,.2);
    }
  }
}