.hero {
  height: 100vh;
  min-height: 40rem;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
}

.hero-bg-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: -1;
}

.hero-img {
  width: 100%;
  height: 100%;
  background-image: url("../img/bg.jpg");
  background-size: cover;
}

.hero-content {
  width: 100%;

  @include media-breakpoint-up(md) {
    background-color: $primary;
    height: 6.25rem;
  }

  .container {
    height: 100%;
  }

  .to-directory {
    line-height: 6.25rem;
    font-size: 1.5em;
    color: #fff;
    margin-right: 1rem;
    &:hover {
      color: $slate;
    }

    @include media-breakpoint-down(sm) {
      display: none;
    }
  }
}

.mall-hours-wrapper {
  background-color: $slate;
  color: #fff;
  text-align: left;
  padding: 1.5em 1.5em;

  @include media-breakpoint-up(md) {
    padding: 3.5rem 6rem;
    position: absolute;
    right: 1rem;
    bottom: 0;
    transition: background-color 300ms ease;
    &:hover {
      background-color: darken($slate, 3%);
    }
  }

  h2 {
    font-size: 1.25em;
    text-transform: uppercase;
    font-weight: $font-weight-bold;
  }
}
