.hero {
  height: 100vh;
  min-height: 40rem;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
}

.hero-bg-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: -1;

  .carousel, .carousel-inner {
    width: 100%;
    height: 100%;
  }

  .carousel-item {
    position: relative;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: bottom center;
  }
}

.bg-promo {
  background-image: url('../img/promo.png');
  background-size: contain !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;

  @include media-breakpoint-down(sm) {
    background-position: center 80px !important;
  }
}

@include media-breakpoint-up(md) {
  .bg-1 {
    background-image: url('../img/yaohan-1.jpg');
  }
  .bg-2 {
    background-image: url('../img/yaohan-2.jpg');
  }
  .bg-3 {
    background-image: url('../img/yaohan-5.jpg');
  }
  .bg-4 {
    background-image: url('../img/yaohan-4.jpg');
  }
  .bg-5 {
    background-image: url('../img/yaohan-3.jpg');
  }
}
@include media-breakpoint-down(sm) {
  .bg-1 {
    background-image: url('../img/yaohan-2-mobile.jpg');
  }
  .bg-2 {
    background-image: url('../img/yaohan-5-mobile.jpg');
  }
  .bg-3 {
    background-image: url('../img/yaohan-1.jpg');
  }
  .bg-4 {
    background-image: url('../img/yaohan-2-mobile.jpg');
  }
  .bg-5 {
    background-image: url('../img/yaohan-4-mobile.jpg');
  }
}

.hero-content {
  width: 100%;
}

.mall-hours-wrapper {
  color: #fff;
  text-align: left;
  padding: 1.5em 1.5em;
  
  @include media-breakpoint-down(sm) {
    background-color: rgba(#000, 0.75); 
  }

  @include media-breakpoint-up(md) {
    background-color: rgba(#000, 0.85); 
    padding: 3.5rem 6rem;
    position: absolute;
    left: 1rem;
    bottom: 0;
    transition: background-color 300ms ease;
    &:hover {
      background-color: rgba(#000, 0.95); 
    }
  }

  h2 {
    font-size: 1.25em;
    text-transform: uppercase;
    font-weight: $font-weight-bold;
  }
}
