nav a {
  transition: none;
}

.navbar-main {
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.1);

  .navbar-nav li {
    height: $nav-link-height;
    line-height: $nav-link-height;
  }

  @include media-breakpoint-down(sm) {
    .navbar-toggler {
      padding-top: 0;
      padding-bottom: 0;
      height: $nav-link-height-mobile;
    }
    .navbar-nav {
      text-align: center;
      margin-top: 0.75em;
    }
  }

  .dropdown-menu {
    top: calc(100% + 0.3em);
    border-radius: 0;

    @include media-breakpoint-down(sm) {
      box-shadow: none;
      text-align: center;
      background-color: $dropdown-link-hover-bg;
      margin: 0 -1rem;
    }
  }
}

.logo-wrapper {
  position: absolute;
  top: -$subnav-height;
  left: 1rem;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;

  @include media-breakpoint-up(sm) {
    width: $logo-wrap-width;
    height: $logo-wrap-height;
  }

  @include media-breakpoint-down(xs) {
    width: $logo-wrap-width-mobile;
    height: $logo-wrap-height-mobile;
  }

  .logo-link {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-content: center;
    justify-content: center;
  }

  .logo {
    height: $logo-height;
    @include media-breakpoint-down(xs) {
      height: $logo-height-mobile;
    }
  }
}

.lang-select {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  li {
    &.active {
      background-color: $secondary;
    }
    a {
      display: block;
      padding: 0 1em;
      color: #fff;
      height: $subnav-height;
      line-height: $subnav-height;
    }
  }
  @include media-breakpoint-down(sm) {
    margin: 0 -1rem;
  }
}

@include media-breakpoint-down(sm) {
  body.nav-show {
    overflow: hidden;
    .nav-overlay {
      display: block;
      opacity: 1;
    }
  }

  body.nav-collapsing {
    .nav-overlay {
      display: block;
      transition: opacity 350ms ease;
    }
  }

  .nav-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1020;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
  }
}
